.body {
  padding: 1.25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 80%;
  max-width: 960px;
  margin-top: 1.25rem;
  background-color: #f6f6f6;
}
