.collapse {
  margin: auto;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  max-width: 960px;
}

.arrow {
  display: flex;
  cursor: pointer;
  width: 1.2rem;
  height: 0.7rem;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(-180deg);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #ff6060;
  padding: 0.5rem 1rem;
  width: 100%;
}

.collapsecontent {
  padding: 1rem;
  max-width: 960px;
  transition: show 1.5s ease-out;
  background-color: #fbfbfb;
  font-size: 0.8rem;
  p {
    margin: 0;
  }
}

.collapsecontent.show {
  max-height: 500px;
}

@media (min-width: 992px) {
  .button {
    margin: auto;
    max-width: 960px;
    min-width: 470px;
  }

  .collapse {
    flex-wrap: wrap;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .collapsecontent p {
    font-size: 1rem;
  }
}
