.logo {
  width: 160px;
  height: 45px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}
.backgroundfooter {
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.colortext {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 95px;
  margin-left: 95px;
}

main {
  min-height: 100vh;
}
