h1 {
  margin: 0px;
}

.position {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 960px;
}

.title {
  font-size: 2.5em;
  color: #ff6060;
}

.positionlist a {
  position: relative;
  top: 0.773rem;
  text-decoration: none;
  color: black;
  padding-right: 1.25rem;
  vertical-align: middle;
}
