.logo {
  width: 145px;
  height: 45px;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1080px;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  font-size: 2.5em;
  color: #ff6060;
}

.positionlist {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.positionlist a {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  text-transform: uppercase;
}

.positionlist a:hover {
  text-decoration: underline;
}

@media (min-width: 520px) {
  .positionlist {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .positionlist {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .positionlist {
    width: 15%;
  }

  .positionlist a {
    text-transform: none;
  }

  .position {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .logo {
    width: 210px;
    height: 70px;
  }
}
