* {
  font-family: "Montserrat-Regular", sans-serif;
}

body {
  margin: 0px;
  height: 100%;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18rem;
  color: #ff6060;
}

#donotexist {
  font-size: 2.25em;
  color: #ff6060;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

#linkhomepage {
  position: relative;
  padding-top: 60px;
  color: black;
}
